.container{
    display:flex;
}

nav a{
    flex:1;
    background-color: rgb(255, 255, 132);
    color:red;
    padding: 13px;
    font-size: 30px;
    text-decoration:none;
    text-align: center;
}

a:hover{
    border-bottom: 20px solid yellow;
    color:gold;
}
#banner{
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, red, rgb(255, 255, 255), yellow);    
    color: rgb(255, 0, 0);
    font-size: 40px;
    text-shadow: 10px;
    font-family:cursive;
}

.footer{
    justify-content: center;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    font-size: 50px;
    text-align: center;
}
  #img{
    border-radius: 200px;
    flex:1;
 }
 .main{
    text-align: center;
    justify-content: center;
 }

 #video{
    padding: 20px;
    text-align: center;
 }
 #img{
    padding: 20px;
    text-align: center;
    font-size: 20px;
 }
.foodp{
    flex:1;
    padding: 20px;
    font-size: 20px;
}

.words{
    font-size: 40px;
    color: white;
    padding: 20px;
    text-align: center;
}
.wordss{
    font-size: 40px;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
}
.card{
    margin: 16px;
    padding: 10px;
    border: 3px red solid;
    border-radius: 40px;
    background-color: rgb(255, 0, 0);
    color: white;
}
.card img{
    border-radius: 25px;
    align-items: center;
}
.hallo{
    margin: 54px;
}
.dragon{
    flex:1;
    margin: 20px;
    text-align: center;
    justify-content: center;
    transition: 3s;
}
.dragon img{
    filter:blur(4px);
}

.dragon img:hover{
    filter:none;
}
#china{
    background-color: red;
    padding:20px;
}
#book{
    color:gold;
    font-size:30px;
}
.line{
    border-color: yellow;
    border-width: 10px;
    
}
.boom{
    background-color: #c90e0e;
}
.body {
  background-image: url("https://www.thespruce.com/thmb/r1DdxFsnNF95xkUqRO97mNH-OAo=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/paeonia-lactiflora-5095782-hero-1eca9bdb561f4acdb5e64e2785024bd8.jpg") ;
}
#food{
    background-color: rgb(255, 220, 79);
}
.message{
    color: rgb(0, 0, 0);
    font-size:20px
}
.pink{
    color: black;
    width: 200px;
}
