.container{
    display:flex;
}

nav a{
    flex:1;
    background-color: rgb(255, 255, 132);
    color:red;
    padding: 13px;
    font-size: 30px;
    text-decoration:none;
    text-align: center;
}

a:hover{
    border-bottom: 20px solid yellow;
    color:gold;
}
#banner{
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    font-size: 40px;
    text-shadow: 10px;
}

#id{
    flex:1;
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    padding: 13px;
    font-size: 30px;
    text-decoration:none;
    text-align: center;
}